In [87]:
pip install koreanize-matplotlib

Requirement already satisfied: koreanize-matplotlib in c:\users\5-29\miniforge3\envs\fintech\lib\site-packages (0.1.1)
Requirement already satisfied: matplotlib in c:\users\5-29\miniforge3\envs\fintech\lib\site-packages (from koreanize-matplotlib) (3.9.1.post1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\5-29\miniforge3\envs\fintech\lib\site-packages (from matplotlib->koreanize-matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\5-29\miniforge3\envs\fintech\lib\site-packages (from matplotlib->koreanize-matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\5-29\miniforge3\envs\fintech\lib\site-packages (from matplotlib->koreanize-matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\5-29\miniforge3\envs\fintech\lib\site-packages (from matplotlib->koreanize-matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in c:\users\5-29\miniforge3\envs\fintech\lib\site-packages (from matplotlib->koreanize-matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\5-29\miniforge3\envs\fintech\lib\site-packages (from matplotlib->koreanize-matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\5-29\miniforge3\envs\fintech\lib\site-packages (from matplotlib->koreanize-matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\5-29\miniforge3\envs\fintech\lib\site-packages (from matplotlib->koreanize-matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\5-29\miniforge3\envs\fintech\lib\site-packages (from matplotlib->koreanize-matplotlib) (2.9.0)
Requirement already satisfied: six>=1.5 in c:\users\5-29\miniforge3\envs\fintech\lib\site-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib
import seaborn as sns
# from ydata_profiling import ProfileReport

In [89]:
data = pd.read_csv("https://raw.githubusercontent.com/haram4th/ablearn/main/shopping-data.csv")
data.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [91]:
# pf = ProfileReport(data)
# pf.to_file("쇼핑.html")

# 계층적 군집 분석
* 비지도 학습
* 데이터가 적을 경우 사용
* 거리 계산 지표
* 단일연결법(최소연결법)
* 완전연결법(최장연결법)
* 평균연결법
* 중심연결법
* 와드연결법
* 덴드로그램으로 계층적 군집 시각화

In [92]:
import scipy.cluster.hierarchy as shc

In [93]:
data = pd.get_dummies(data, drop_first=True)
data.head()

   CustomerID  Age  Annual Income (k$)  Spending Score (1-100)  Genre_Male
0           1   19                  15                      39        True
1           2   21                  15                      81        True
2           3   20                  16                       6       False
3           4   23                  16                      77       False
4           5   31                  17                      40       False

In [94]:
data

     CustomerID  Age  Annual Income (k$)  Spending Score (1-100)  Genre_Male
0             1   19                  15                      39        True
1             2   21                  15                      81        True
2             3   20                  16                       6       False
3             4   23                  16                      77       False
4             5   31                  17                      40       False
..          ...  ...                 ...                     ...         ...
195         196   35                 120                      79       False
196         197   45                 126                      28       False
197         198   32                 126                      74        True
198         199   32                 137                      18        True
199         200   30                 137                      83        True

[200 rows x 5 columns]

In [95]:
data2 = data.iloc[:, 3:5]

In [96]:
plt.switch_backend('TkAgg')

In [97]:
plt.figure(figsize=(30, 10))
plt.title("Customer Dendrograms_single")
dend = shc.dendrogram(shc.linkage(data2, method='single'))
plt.show()

In [98]:
plt.figure(figsize=(30, 10))
plt.title("Customer Dendrograms_complete")
dend = shc.dendrogram(shc.linkage(data2, method='complete'))
plt.show()

In [99]:
plt.figure(figsize=(30, 10))
plt.title("Customer Dendrograms_average")
dend = shc.dendrogram(shc.linkage(data2, method='average'))
plt.show()

In [100]:
plt.figure(figsize=(30, 10))
plt.title("Customer Dendrograms_centroid")
dend = shc.dendrogram(shc.linkage(data2, method='centroid'))
plt.show()

In [101]:
plt.figure(figsize=(30, 10))
plt.title("Customer Dendrograms_ward")
dend = shc.dendrogram(shc.linkage(data2, method='ward'))
plt.show()

In [102]:
dend

{'icoord': [[15.0, 15.0, 25.0, 25.0],
  [5.0, 5.0, 20.0, 20.0],
  [45.0, 45.0, 55.0, 55.0],
  [35.0, 35.0, 50.0, 50.0],
  [12.5, 12.5, 42.5, 42.5],
  [75.0, 75.0, 85.0, 85.0],
  [65.0, 65.0, 80.0, 80.0],
  [95.0, 95.0, 105.0, 105.0],
  [125.0, 125.0, 135.0, 135.0],
  [115.0, 115.0, 130.0, 130.0],
  [155.0, 155.0, 165.0, 165.0],
  [145.0, 145.0, 160.0, 160.0],
  [122.5, 122.5, 152.5, 152.5],
  [100.0, 100.0, 137.5, 137.5],
  [72.5, 72.5, 118.75, 118.75],
  [185.0, 185.0, 195.0, 195.0],
  [175.0, 175.0, 190.0, 190.0],
  [205.0, 205.0, 215.0, 215.0],
  [225.0, 225.0, 235.0, 235.0],
  [210.0, 210.0, 230.0, 230.0],
  [182.5, 182.5, 220.0, 220.0],
  [245.0, 245.0, 255.0, 255.0],
  [285.0, 285.0, 295.0, 295.0],
  [275.0, 275.0, 290.0, 290.0],
  [265.0, 265.0, 282.5, 282.5],
  [250.0, 250.0, 273.75, 273.75],
  [201.25, 201.25, 261.875, 261.875],
  [95.625, 95.625, 231.5625, 231.5625],
  [27.5, 27.5, 163.59375, 163.59375],
  [305.0, 305.0, 315.0, 315.0],
  [335.0, 335.0, 345.0, 345.0],
  [325.0, 325.0, 340.0, 340.0],
  [310.0, 310.0, 332.5, 332.5],
  [375.0, 375.0, 385.0, 385.0],
  [365.0, 365.0, 380.0, 380.0],
  [355.0, 355.0, 372.5, 372.5],
  [395.0, 395.0, 405.0, 405.0],
  [425.0, 425.0, 435.0, 435.0],
  [415.0, 415.0, 430.0, 430.0],
  [400.0, 400.0, 422.5, 422.5],
  [363.75, 363.75, 411.25, 411.25],
  [321.25, 321.25, 387.5, 387.5],
  [445.0, 445.0, 455.0, 455.0],
  [465.0, 465.0, 475.0, 475.0],
  [450.0, 450.0, 470.0, 470.0],
  [485.0, 485.0, 495.0, 495.0],
  [505.0, 505.0, 515.0, 515.0],
  [490.0, 490.0, 510.0, 510.0],
  [545.0, 545.0, 555.0, 555.0],
  [535.0, 535.0, 550.0, 550.0],
  [525.0, 525.0, 542.5, 542.5],
  [565.0, 565.0, 575.0, 575.0],
  [585.0, 585.0, 595.0, 595.0],
  [570.0, 570.0, 590.0, 590.0],
  [533.75, 533.75, 580.0, 580.0],
  [500.0, 500.0, 556.875, 556.875],
  [460.0, 460.0, 528.4375, 528.4375],
  [354.375, 354.375, 494.21875, 494.21875],
  [95.546875, 95.546875, 424.296875, 424.296875],
  [605.0, 605.0, 615.0, 615.0],
  [635.0, 635.0, 645.0, 645.0],
  [625.0, 625.0, 640.0, 640.0],
  [665.0, 665.0, 675.0, 675.0],
  [655.0, 655.0, 670.0, 670.0],
  [685.0, 685.0, 695.0, 695.0],
  [705.0, 705.0, 715.0, 715.0],
  [690.0, 690.0, 710.0, 710.0],
  [662.5, 662.5, 700.0, 700.0],
  [632.5, 632.5, 681.25, 681.25],
  [610.0, 610.0, 656.875, 656.875],
  [725.0, 725.0, 735.0, 735.0],
  [745.0, 745.0, 755.0, 755.0],
  [765.0, 765.0, 775.0, 775.0],
  [750.0, 750.0, 770.0, 770.0],
  [730.0, 730.0, 760.0, 760.0],
  [785.0, 785.0, 795.0, 795.0],
  [805.0, 805.0, 815.0, 815.0],
  [825.0, 825.0, 835.0, 835.0],
  [810.0, 810.0, 830.0, 830.0],
  [790.0, 790.0, 820.0, 820.0],
  [855.0, 855.0, 865.0, 865.0],
  [845.0, 845.0, 860.0, 860.0],
  [885.0, 885.0, 895.0, 895.0],
  [875.0, 875.0, 890.0, 890.0],
  [905.0, 905.0, 915.0, 915.0],
  [925.0, 925.0, 935.0, 935.0],
  [910.0, 910.0, 930.0, 930.0],
  [882.5, 882.5, 920.0, 920.0],
  [852.5, 852.5, 901.25, 901.25],
  [805.0, 805.0, 876.875, 876.875],
  [745.0, 745.0, 840.9375, 840.9375],
  [633.4375, 633.4375, 792.96875, 792.96875],
  [955.0, 955.0, 965.0, 965.0],
  [945.0, 945.0, 960.0, 960.0],
  [985.0, 985.0, 995.0, 995.0],
  [975.0, 975.0, 990.0, 990.0],
  [1015.0, 1015.0, 1025.0, 1025.0],
  [1005.0, 1005.0, 1020.0, 1020.0],
  [982.5, 982.5, 1012.5, 1012.5],
  [1045.0, 1045.0, 1055.0, 1055.0],
  [1035.0, 1035.0, 1050.0, 1050.0],
  [1085.0, 1085.0, 1095.0, 1095.0],
  [1075.0, 1075.0, 1090.0, 1090.0],
  [1065.0, 1065.0, 1082.5, 1082.5],
  [1042.5, 1042.5, 1073.75, 1073.75],
  [997.5, 997.5, 1058.125, 1058.125],
  [952.5, 952.5, 1027.8125, 1027.8125],
  [1105.0, 1105.0, 1115.0, 1115.0],
  [1135.0, 1135.0, 1145.0, 1145.0],
  [1125.0, 1125.0, 1140.0, 1140.0],
  [1110.0, 1110.0, 1132.5, 1132.5],
  [1165.0, 1165.0, 1175.0, 1175.0],
  [1155.0, 1155.0, 1170.0, 1170.0],
  [1185.0, 1185.0, 1195.0, 1195.0],
  [1205.0, 1205.0, 1215.0, 1215.0],
  [1190.0, 1190.0, 1210.0, 1210.0],
  [1162.5, 1162.5, 1200.0, 1200.0],
  [1121.25, 1121.25, 1181.25, 1181.25],
  [990.15625, 990.15625, 1151.25, 1151.25],
  [1245.0, 1245.0, 1255.0, 1255.0],
  [1235.0, 1235.0, 1250.0, 1250.0],
  [1225.0, 1225.0, 1242.5, 1242.5],
  [1275.0, 1275.0, 1285.0, 1285.0],
  [1265.0, 1265.0, 1280.0, 1280.0],
  [1305.0, 1305.0, 1315.0, 1315.0],
  [1295.0, 1295.0, 1310.0, 1310.0],
  [1272.5, 1272.5, 1302.5, 1302.5],
  [1233.75, 1233.75, 1287.5, 1287.5],
  [1355.0, 1355.0, 1365.0, 1365.0],
  [1345.0, 1345.0, 1360.0, 1360.0],
  [1335.0, 1335.0, 1352.5, 1352.5],
  [1325.0, 1325.0, 1343.75, 1343.75],
  [1375.0, 1375.0, 1385.0, 1385.0],
  [1334.375, 1334.375, 1380.0, 1380.0],
  [1260.625, 1260.625, 1357.1875, 1357.1875],
  [1425.0, 1425.0, 1435.0, 1435.0],
  [1415.0, 1415.0, 1430.0, 1430.0],
  [1405.0, 1405.0, 1422.5, 1422.5],
  [1395.0, 1395.0, 1413.75, 1413.75],
  [1455.0, 1455.0, 1465.0, 1465.0],
  [1445.0, 1445.0, 1460.0, 1460.0],
  [1404.375, 1404.375, 1452.5, 1452.5],
  [1495.0, 1495.0, 1505.0, 1505.0],
  [1485.0, 1485.0, 1500.0, 1500.0],
  [1475.0, 1475.0, 1492.5, 1492.5],
  [1515.0, 1515.0, 1525.0, 1525.0],
  [1545.0, 1545.0, 1555.0, 1555.0],
  [1535.0, 1535.0, 1550.0, 1550.0],
  [1520.0, 1520.0, 1542.5, 1542.5],
  [1483.75, 1483.75, 1531.25, 1531.25],
  [1428.4375, 1428.4375, 1507.5, 1507.5],
  [1308.90625, 1308.90625, 1467.96875, 1467.96875],
  [1070.703125, 1070.703125, 1388.4375, 1388.4375],
  [1565.0, 1565.0, 1575.0, 1575.0],
  [1585.0, 1585.0, 1595.0, 1595.0],
  [1615.0, 1615.0, 1625.0, 1625.0],
  [1605.0, 1605.0, 1620.0, 1620.0],
  [1590.0, 1590.0, 1612.5, 1612.5],
  [1570.0, 1570.0, 1601.25, 1601.25],
  [1635.0, 1635.0, 1645.0, 1645.0],
  [1665.0, 1665.0, 1675.0, 1675.0],
  [1655.0, 1655.0, 1670.0, 1670.0],
  [1640.0, 1640.0, 1662.5, 1662.5],
  [1585.625, 1585.625, 1651.25, 1651.25],
  [1735.0, 1735.0, 1745.0, 1745.0],
  [1725.0, 1725.0, 1740.0, 1740.0],
  [1715.0, 1715.0, 1732.5, 1732.5],
  [1705.0, 1705.0, 1723.75, 1723.75],
  [1695.0, 1695.0, 1714.375, 1714.375],
  [1685.0, 1685.0, 1704.6875, 1704.6875],
  [1755.0, 1755.0, 1765.0, 1765.0],
  [1775.0, 1775.0, 1785.0, 1785.0],
  [1760.0, 1760.0, 1780.0, 1780.0],
  [1694.84375, 1694.84375, 1770.0, 1770.0],
  [1815.0, 1815.0, 1825.0, 1825.0],
  [1805.0, 1805.0, 1820.0, 1820.0],
  [1795.0, 1795.0, 1812.5, 1812.5],
  [1855.0, 1855.0, 1865.0, 1865.0],
  [1845.0, 1845.0, 1860.0, 1860.0],
  [1835.0, 1835.0, 1852.5, 1852.5],
  [1875.0, 1875.0, 1885.0, 1885.0],
  [1843.75, 1843.75, 1880.0, 1880.0],
  [1803.75, 1803.75, 1861.875, 1861.875],
  [1732.421875, 1732.421875, 1832.8125, 1832.8125],
  [1905.0, 1905.0, 1915.0, 1915.0],
  [1895.0, 1895.0, 1910.0, 1910.0],
  [1945.0, 1945.0, 1955.0, 1955.0],
  [1935.0, 1935.0, 1950.0, 1950.0],
  [1925.0, 1925.0, 1942.5, 1942.5],
  [1965.0, 1965.0, 1975.0, 1975.0],
  [1985.0, 1985.0, 1995.0, 1995.0],
  [1970.0, 1970.0, 1990.0, 1990.0],
  [1933.75, 1933.75, 1980.0, 1980.0],
  [1902.5, 1902.5, 1956.875, 1956.875],
  [1782.6171875, 1782.6171875, 1929.6875, 1929.6875],
  [1618.4375, 1618.4375, 1856.15234375, 1856.15234375],
  [1229.5703125, 1229.5703125, 1737.294921875, 1737.294921875],
  [713.203125, 713.203125, 1483.4326171875, 1483.4326171875],
  [259.921875, 259.921875, 1098.31787109375, 1098.31787109375]],
 'dcoord': [[0.0, 1.0, 1.0, 0.0],
  [0.0, 1.2909944487358056, 1.2909944487358056, 1.0],
  [0.0, 1.4142135623730951, 1.4142135623730951, 0.0],
  [0.0, 2.9439202887759492, 2.9439202887759492, 1.4142135623730951],
  [1.2909944487358056,
   6.928203230275509,
   6.928203230275509,
   2.9439202887759492],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.732050807568877, 1.732050807568877, 0.0],
  [1.0, 1.7320508075688772, 1.7320508075688772, 1.732050807568877],
  [1.1547005383792515,
   3.468472723015568,
   3.468472723015568,
   1.7320508075688772],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.414213562373095, 1.414213562373095, 0.0],
  [0.0, 2.0701966780270626, 2.0701966780270626, 1.414213562373095],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.224744871391589, 1.224744871391589, 0.0],
  [1.0, 2.972092416687835, 2.972092416687835, 1.224744871391589],
  [2.0701966780270626,
   6.510065466717857,
   6.510065466717857,
   2.972092416687835],
  [3.468472723015568,
   12.578541130421165,
   12.578541130421165,
   6.510065466717857],
  [6.928203230275509,
   25.195568393403367,
   25.195568393403367,
   12.578541130421165],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.2909944487358056, 1.2909944487358056, 1.0],
  [1.0, 2.5948667274704755, 2.5948667274704755, 1.2909944487358056],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 1.2909944487358056, 1.2909944487358056, 1.1547005383792515],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 2.065591117977289, 2.065591117977289, 1.1547005383792515],
  [1.2909944487358056,
   4.353797831268185,
   4.353797831268185,
   2.065591117977289],
  [2.5948667274704755,
   13.018180205889603,
   13.018180205889603,
   4.353797831268185],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 2.5495097567963927, 2.5495097567963927, 1.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [1.0, 2.23606797749979, 2.23606797749979, 1.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.224744871391589, 1.224744871391589, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.5811388300841895, 1.5811388300841895, 1.0],
  [1.224744871391589,
   3.5355339059327373,
   3.5355339059327373,
   1.5811388300841895],
  [2.23606797749979,
   6.7946057035465035,
   6.7946057035465035,
   3.5355339059327373],
  [2.5495097567963927,
   13.27434869714267,
   13.27434869714267,
   6.7946057035465035],
  [13.018180205889603,
   32.49404707385793,
   32.49404707385793,
   13.27434869714267],
  [25.195568393403367,
   90.92267777256306,
   90.92267777256306,
   32.49404707385793],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.414213562373095, 1.414213562373095, 0.0],
  [1.1547005383792515,
   2.6367367999823097,
   2.6367367999823097,
   1.414213562373095],
  [1.1547005383792515, 4.16904693916396, 4.16904693916396, 2.6367367999823097],
  [0.0, 7.359800721939871, 7.359800721939871, 4.16904693916396],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 2.1213203435596424, 2.1213203435596424, 1.0],
  [1.0, 3.674234614174767, 3.674234614174767, 2.1213203435596424],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.414213562373095, 1.414213562373095, 0.0],
  [1.0, 2.309401076758503, 2.309401076758503, 1.414213562373095],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.414213562373095, 1.414213562373095, 0.0],
  [1.1547005383792515,
   1.8771812708978115,
   1.8771812708978115,
   1.414213562373095],
  [1.1547005383792515,
   2.9341990064622085,
   2.9341990064622085,
   1.8771812708978115],
  [2.309401076758503,
   7.793694032143337,
   7.793694032143337,
   2.9341990064622085],
  [3.674234614174767,
   15.028382239192371,
   15.028382239192371,
   7.793694032143337],
  [7.359800721939871,
   36.84051720137604,
   36.84051720137604,
   15.028382239192371],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 1.8257418583505538, 1.8257418583505538, 1.1547005383792515],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.8516401995451028, 1.8516401995451028, 0.0],
  [1.8257418583505538,
   3.1715308698809888,
   3.1715308698809888,
   1.8516401995451028],
  [1.1547005383792515,
   3.922731256767472,
   3.922731256767472,
   3.1715308698809888],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [1.0, 1.5705625319186332, 1.5705625319186332, 1.1547005383792515],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.414213562373095, 1.414213562373095, 0.0],
  [0.0, 2.0701966780270626, 2.0701966780270626, 1.414213562373095],
  [1.5705625319186332,
   4.0923854959691965,
   4.0923854959691965,
   2.0701966780270626],
  [3.922731256767472,
   15.198879971266052,
   15.198879971266052,
   4.0923854959691965],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.224744871391589, 1.224744871391589, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 1.8257418583505536, 1.8257418583505536, 1.1547005383792515],
  [1.224744871391589,
   2.614064523559687,
   2.614064523559687,
   1.8257418583505536],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 3.047247001100221, 3.047247001100221, 1.0],
  [2.614064523559687, 5.38048137548424, 5.38048137548424, 3.047247001100221],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 2.327373340628157, 2.327373340628157, 1.1547005383792515],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.224744871391589, 1.224744871391589, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 1.632993161855452, 1.632993161855452, 1.1547005383792515],
  [1.224744871391589,
   2.4608038433722332,
   2.4608038433722332,
   1.632993161855452],
  [2.327373340628157,
   6.291009250161767,
   6.291009250161767,
   2.4608038433722332],
  [5.38048137548424,
   16.984421928205094,
   16.984421928205094,
   6.291009250161767],
  [15.198879971266052,
   46.361351342971396,
   46.361351342971396,
   16.984421928205094],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [1.0, 2.2060522810365732, 2.2060522810365732, 1.1547005383792515],
  [1.0, 3.7530939617486645, 3.7530939617486645, 2.2060522810365732],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.7320508075688772, 1.7320508075688772, 1.0],
  [1.0, 4.711687595755899, 4.711687595755899, 1.7320508075688772],
  [3.7530939617486645,
   13.94086148871794,
   13.94086148871794,
   4.711687595755899],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.5811388300841895, 1.5811388300841895, 1.0],
  [0.0, 2.0338052110179174, 2.0338052110179174, 1.5811388300841895],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.224744871391589, 1.224744871391589, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.0, 1.0, 0.0],
  [0.0, 1.8257418583505538, 1.8257418583505538, 1.0],
  [1.224744871391589,
   3.188521078284832,
   3.188521078284832,
   1.8257418583505538],
  [2.0338052110179174, 6.74585009516914, 6.74585009516914, 3.188521078284832],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.1547005383792515, 1.1547005383792515, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.224744871391589, 1.224744871391589, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 0.0, 0.0, 0.0],
  [0.0, 1.414213562373095, 1.414213562373095, 0.0],
  [1.224744871391589,
   2.4999999999999996,
   2.4999999999999996,
   1.414213562373095],
  [1.1547005383792515,
   7.299335793776241,
   7.299335793776241,
   2.4999999999999996],
  [6.74585009516914, 26.99409206647829, 26.99409206647829, 7.299335793776241],
  [13.94086148871794, 57.14158717474065, 57.14158717474065, 26.99409206647829],
  [46.361351342971396,
   124.62566291419662,
   124.62566291419662,
   57.14158717474065],
  [36.84051720137604,
   250.36244321560542,
   250.36244321560542,
   124.62566291419662],
  [90.92267777256306,
   409.3767713883886,
   409.3767713883886,
   250.36244321560542]],
 'ivl': ['191',
  '177',
  '187',
  '169',
  '17',
  '45',
  '133',
  '9',
  '139',
  '147',
  '197',
  '137',
  '21',
  '23',
  '159',
  '31',
  '37',
  '171',
  '129',
  '131',
  '5',
  '153',
  '39',
  '165',
  '15',
  '195',
  '157',
  '125',
  '3',
  '13',
  '161',
  '199',
  '35',
  '1',
  '25',
  '155',
  '151',
  '135',
  '183',
  '29',
  '143',
  '189',
  '175',
  '181',
  '145',
  '185',
  '11',
  '19',
  '7',
  '163',
  '127',
  '167',
  '141',
  '173',
  '33',
  '41',
  '149',
  '179',
  '123',
  '193',
  '156',
  '158',
  '136',
  '2',
  '6',
  '8',
  '30',
  '32',
  '22',
  '140',
  '134',
  '162',
  '130',
  '192',
  '138',
  '172',
  '128',
  '144',
  '150',
  '198',
  '154',
  '194',
  '36',
  '188',
  '174',
  '14',
  '170',
  '12',
  '24',
  '34',
  '10',
  '178',
  '176',
  '182',
  '73',
  '84',
  '119',
  '90',
  '46',
  '87',
  '75',
  '52',
  '111',
  '120',
  '60',
  '104',
  '103',
  '81',
  '61',
  '70',
  '27',
  '43',
  '88',
  '51',
  '53',
  '102',
  '65',
  '68',
  '63',
  '117',
  '86',
  '122',
  '89',
  '96',
  '47',
  '69',
  '114',
  '67',
  '101',
  '74',
  '77',
  '109',
  '113',
  '107',
  '85',
  '57',
  '59',
  '54',
  '83',
  '115',
  '106',
  '97',
  '56',
  '66',
  '72',
  '92',
  '99',
  '76',
  '78',
  '50',
  '62',
  '95',
  '110',
  '58',
  '64',
  '80',
  '38',
  '164',
  '18',
  '124',
  '168',
  '44',
  '196',
  '152',
  '166',
  '148',
  '186',
  '190',
  '112',
  '105',
  '94',
  '79',
  '71',
  '48',
  '49',
  '116',
  '118',
  '98',
  '108',
  '100',
  '91',
  '55',
  '82',
  '142',
  '121',
  '4',
  '93',
  '0',
  '184',
  '28',
  '26',
  '180',
  '132',
  '160',
  '16',
  '40',
  '20',
  '126',
  '42',
  '146'],
 'leaves': [191,
  177,
  187,
  169,
  17,
  45,
  133,
  9,
  139,
  147,
  197,
  137,
  21,
  23,
  159,
  31,
  37,
  171,
  129,
  131,
  5,
  153,
  39,
  165,
  15,
  195,
  157,
  125,
  3,
  13,
  161,
  199,
  35,
  1,
  25,
  155,
  151,
  135,
  183,
  29,
  143,
  189,
  175,
  181,
  145,
  185,
  11,
  19,
  7,
  163,
  127,
  167,
  141,
  173,
  33,
  41,
  149,
  179,
  123,
  193,
  156,
  158,
  136,
  2,
  6,
  8,
  30,
  32,
  22,
  140,
  134,
  162,
  130,
  192,
  138,
  172,
  128,
  144,
  150,
  198,
  154,
  194,
  36,
  188,
  174,
  14,
  170,
  12,
  24,
  34,
  10,
  178,
  176,
  182,
  73,
  84,
  119,
  90,
  46,
  87,
  75,
  52,
  111,
  120,
  60,
  104,
  103,
  81,
  61,
  70,
  27,
  43,
  88,
  51,
  53,
  102,
  65,
  68,
  63,
  117,
  86,
  122,
  89,
  96,
  47,
  69,
  114,
  67,
  101,
  74,
  77,
  109,
  113,
  107,
  85,
  57,
  59,
  54,
  83,
  115,
  106,
  97,
  56,
  66,
  72,
  92,
  99,
  76,
  78,
  50,
  62,
  95,
  110,
  58,
  64,
  80,
  38,
  164,
  18,
  124,
  168,
  44,
  196,
  152,
  166,
  148,
  186,
  190,
  112,
  105,
  94,
  79,
  71,
  48,
  49,
  116,
  118,
  98,
  108,
  100,
  91,
  55,
  82,
  142,
  121,
  4,
  93,
  0,
  184,
  28,
  26,
  180,
  132,
  160,
  16,
  40,
  20,
  126,
  42,
  146],
 'color_list': ['C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',
  'C1',

In [103]:
data2 = data.iloc[:, 3:5].values
data2[:3]

array([[39, True],
       [81, True],
       [6, False]], dtype=object)

In [104]:
data2

array([[39, True],
       [81, True],
       [6, False],
       [77, False],
       [40, False],
       [76, False],
       [6, False],
       [94, False],
       [3, True],
       [72, False],
       [14, True],
       [99, False],
       [15, False],
       [77, False],
       [13, True],
       [79, True],
       [35, False],
       [66, True],
       [29, True],
       [98, False],
       [35, True],
       [73, True],
       [5, False],
       [73, True],
       [14, False],
       [82, True],
       [32, False],
       [61, True],
       [31, False],
       [87, False],
       [4, True],
       [73, False],
       [4, True],
       [92, True],
       [14, False],
       [81, False],
       [17, False],
       [73, False],
       [26, False],
       [75, False],
       [35, False],
       [92, True],
       [36, True],
       [61, False],
       [28, False],
       [65, False],
       [55, False],
       [47, False],
       [42, False],
       [42, False],
       [52, False],
       [60, True],
       [54, False],
       [60, True],
       [45, False],
       [41, True],
       [50, False],
       [46, True],
       [51, False],
       [46, True],
       [56, True],
       [55, True],
       [52, False],
       [59, False],
       [51, True],
       [59, True],
       [50, False],
       [48, False],
       [59, True],
       [47, False],
       [55, True],
       [42, False],
       [49, False],
       [56, False],
       [47, True],
       [54, True],
       [53, False],
       [48, True],
       [52, False],
       [42, False],
       [51, True],
       [55, True],
       [41, True],
       [44, False],
       [57, False],
       [46, True],
       [58, False],
       [55, False],
       [60, False],
       [46, False],
       [55, False],
       [41, True],
       [49, True],
       [40, False],
       [42, False],
       [52, True],
       [47, False],
       [50, False],
       [42, True],
       [49, True],
       [41, False],
       [48, False],
       [59, True],
       [55, True],
       [56, True],
       [42, False],
       [50, False],
       [46, True],
       [43, True],
       [48, True],
       [52, True],
       [54, False],
       [42, False],
       [46, True],
       [48, False],
       [50, False],
       [43, False],
       [59, False],
       [43, False],
       [57, False],
       [56, True],
       [40, False],
       [58, False],
       [91, True],
       [29, False],
       [77, False],
       [35, True],
       [95, True],
       [11, True],
       [75, True],
       [9, True],
       [75, True],
       [34, False],
       [71, False],
       [5, True],
       [88, False],
       [7, False],
       [73, True],
       [10, True],
       [72, False],
       [5, False],
       [93, True],
       [40, False],
       [87, False],
       [12, True],
       [97, True],
       [36, True],
       [74, False],
       [22, False],
       [90, True],
       [17, True],
       [88, True],
       [20, False],
       [76, False],
       [16, False],
       [89, False],
       [1, True],
       [78, False],
       [1, True],
       [73, False],
       [35, False],
       [83, False],
       [5, True],
       [93, False],
       [26, True],
       [75, False],
       [20, True],
       [95, False],
       [27, False],
       [63, True],
       [13, True],
       [75, True],
       [10, True],
       [92, True],
       [13, False],
       [86, False],
       [15, True],
       [69, True],
       [14, True],
       [90, True],
       [32, False],
       [86, False],
       [15, True],
       [88, False],
       [39, False],
       [97, True],
       [24, False],
       [68, True],
       [17, False],
       [85, False],
       [23, False],
       [69, False],
       [8, True],
       [91, False],
       [16, False],
       [79, False],
       [28, False],
       [74, True],
       [18, True],
       [83, True]], dtype=object)

In [105]:
from sklearn.cluster import AgglomerativeClustering

cluster = AgglomerativeClustering(n_clusters=5, metric='euclidean', linkage='ward')
result = cluster.fit_predict(data2)
plt.figure(figsize=(10,5))
plt.scatter(data2[:,0], data2[:,1], c=cluster.labels_, cmap='rainbow')

In [106]:
result

array([0, 3, 2, 4, 0, 4, 2, 3, 2, 4, 2, 3, 2, 4, 2, 4, 0, 4, 0, 3, 0, 4,
       2, 4, 2, 3, 0, 1, 0, 3, 2, 4, 2, 3, 2, 3, 2, 4, 0, 4, 0, 3, 0, 1,
       0, 4, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 3, 0, 4, 0, 3, 2, 4, 2, 4,
       0, 4, 2, 3, 2, 4, 2, 4, 2, 3, 0, 3, 2, 3, 0, 4, 0, 3, 2, 3, 0, 4,
       2, 3, 2, 4, 2, 4, 0, 3, 2, 3, 0, 4, 0, 3, 0, 4, 2, 4, 2, 3, 2, 3,
       2, 4, 2, 3, 0, 3, 2, 3, 0, 3, 0, 4, 2, 3, 0, 4, 2, 3, 2, 4, 0, 4,
       2, 3], dtype=int64)

In [107]:
data['cluster'] = result

In [108]:
data

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Genre_Male,cluster
0,1,19,15,39,True,0
1,2,21,15,81,True,3
2,3,20,16,6,False,2
3,4,23,16,77,False,4
4,5,31,17,40,False,0
...,...,...,...,...,...,...
195,196,35,120,79,False,4
196,197,45,126,28,False,0
197,198,32,126,74,True,4
198,199,32,137,18,True,2
199,200,30,137,83,True,3

In [109]:
data[data['cluster']==0]

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Genre_Male,cluster
0,1,19,15,39,True,0
4,5,31,17,40,False,0
16,17,35,21,35,False,0
18,19,52,23,29,True,0
20,21,35,24,35,True,0
26,27,45,28,32,False,0
28,29,40,29,31,False,0
38,39,36,37,26,False,0
40,41,65,38,35,False,0
42,43,48,39,36,True,0
44,45,49,39,28,False,0
48,49,29,40,42,False,0
49,50,31,40,42,False,0
55,56,47,43,41,True,0
71,72,47,49,42,False,0
79,80,49,54,42,False,0
82,83,67,54,41,True,0
91,92,18,59,41,True,0
93,94,40,60,40,False,0
94,95,32,60,42,False,0
98,99,48,61,42,True,0
100,101,23,62,41,False,0
105,106,21,62,42,False,0
108,109,68,63,43,True,0
112,113,38,64,42,False,0
116,117,63,65,43,False,0
118,119,51,67,43,False,0
121,122,38,67,40,False,0
124,125,23,70,29,False,0
126,127,43,71,35,True,0
132,133,25,72,34,False,0
142,143,28,76,40,False,0
146,147,48,77,36,True,0
148,149,34,78,22,False,0
152,153,44,78,20,False,0
160,161,56,79,35,False,0
164,165,50,85,26,True,0
166,167,42,86,20,True,0
168,169,36,87,27,False,0
180,181,37,97,32,False,0
184,185,41,99,39,False,0
186,187,54,101,24,False,0
190,191,34,103,23,False,0
196,197,45,126,28,False,0

In [110]:
data[data['cluster']==1]

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Genre_Male,cluster
27,28,35,28,61,True,1
43,44,31,39,61,False,1
46,47,50,40,55,False,1
47,48,27,40,47,False,1
50,51,49,42,52,False,1
...,...,...,...,...,...,...
115,116,19,65,50,False,1
117,118,49,65,59,False,1
119,120,50,67,57,False,1
120,121,27,67,56,True,1
122,123,40,69,58,False,1

In [111]:
data[data['cluster']==2]

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Genre_Male,cluster
2,3,20,16,6,False,2
6,7,35,18,6,False,2
8,9,64,19,3,True,2
10,11,67,19,14,True,2
12,13,58,20,15,False,2
14,15,37,20,13,True,2
22,23,46,25,5,False,2
24,25,54,28,14,False,2
30,31,60,30,4,True,2
32,33,53,33,4,True,2
34,35,49,33,14,False,2
36,37,42,34,17,False,2
128,129,59,71,11,True,2
130,131,47,71,9,True,2
134,135,20,73,5,True,2
136,137,44,73,7,False,2
138,139,19,74,10,True,2
140,141,57,75,5,False,2
144,145,25,77,12,True,2
150,151,43,78,17,True,2
154,155,47,78,16,False,2
156,157,37,78,1,True,2
158,159,34,78,1,True,2
162,163,19,81,5,True,2
170,171,40,87,13,True,2
172,173,36,87,10,True,2
174,175,52,88,13,False,2
176,177,58,88,15,True,2
178,179,59,93,14,True,2
182,183,46,98,15,True,2
188,189,41,103,17,False,2
192,193,33,113,8,True,2
194,195,47,120,16,False,2
198,199,32,137,18,True,2

In [112]:
data[data['cluster']==3]

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Genre_Male,cluster
1,2,21,15,81,True,3
7,8,23,18,94,False,3
11,12,35,19,99,False,3
19,20,35,23,98,False,3
25,26,29,28,82,True,3
29,30,23,29,87,False,3
33,34,18,33,92,True,3
35,36,21,33,81,False,3
41,42,24,38,92,True,3
123,124,39,69,91,True,3
127,128,40,71,95,True,3
135,136,29,73,88,False,3
141,142,32,75,93,True,3
143,144,32,76,87,False,3
145,146,28,77,97,True,3
149,150,34,78,90,True,3
151,152,39,78,88,True,3
155,156,27,78,89,False,3
161,162,29,79,83,False,3
163,164,31,81,93,False,3
167,168,33,86,95,False,3
173,174,36,87,92,True,3
175,176,30,88,86,False,3
179,180,35,93,90,True,3
181,182,32,97,86,False,3
183,184,29,98,88,False,3
185,186,30,99,97,True,3
189,190,36,103,85,False,3
193,194,38,113,91,False,3
199,200,30,137,83,True,3

In [113]:
data[data['cluster']==4]

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Genre_Male,cluster
3,4,23,16,77,False,4
5,6,22,17,76,False,4
9,10,30,19,72,False,4
13,14,24,20,77,False,4
15,16,22,20,79,True,4
17,18,20,21,66,True,4
21,22,25,24,73,True,4
23,24,31,25,73,True,4
31,32,21,30,73,False,4
37,38,30,34,73,False,4
39,40,20,37,75,False,4
45,46,24,39,65,False,4
125,126,31,70,77,False,4
129,130,38,71,75,True,4
131,132,39,71,75,True,4
133,134,31,72,71,False,4
137,138,32,73,73,True,4
139,140,35,74,72,False,4
147,148,32,77,74,False,4
153,154,38,78,76,False,4
157,158,30,78,78,False,4
159,160,30,78,73,False,4
165,166,36,85,75,False,4
169,170,32,87,63,True,4
171,172,28,87,75,True,4
177,178,27,88,69,True,4
187,188,28,101,68,True,4
191,192,32,103,69,False,4
195,196,35,120,79,False,4
197,198,32,126,74,True,4

# 비계층적 군집 분석

## K-Means(K평균)을 사용한 군집 분석

* 통신사 고객 이동 데이터 분석
  * 독립변수(Feature) 20개: 회원ID, 성별, 고연령, 배우자, 피부양자, 가입기간, 전화서비스, 2회선이상, 인터넷서비스, 온라인보안, 온라인백업, 기기보호서비스, 기술지원, 스트리밍TV,스트리밍Movies, 약정옵션, 온라인고지서, 지불수단, 월요금, 합산요금
  * 종속변수(target) 1개: 이탈여부

In [114]:
data = pd.read_csv("https://raw.githubusercontent.com/haram4th/ADsP/main/06%EA%B3%A0%EA%B0%9D%EC%9D%B4%ED%83%88%EC%98%88%EC%B8%A1.csv", encoding='cp949')
data.head()

,회원ID,성별,고연령,배우자,피부양자,가입기간,전화서비스,2회선이상,인터넷서비스,온라인보안,...,기기보호서비스,기술지원,스트리밍TV,스트리밍Movies,약정옵션,온라인고지서,지불수단,월요금,합산요금,이탈여부
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [115]:
# pf = ProfileReport(data)
# pf.to_file("통신사고객이탈.html")

In [116]:
data.head(2)

,회원ID,성별,고연령,배우자,피부양자,가입기간,전화서비스,2회선이상,인터넷서비스,온라인보안,...,기기보호서비스,기술지원,스트리밍TV,스트리밍Movies,약정옵션,온라인고지서,지불수단,월요금,합산요금,이탈여부
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [117]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   회원ID        7043 non-null   object
 1   성별          7043 non-null   object
 2   고연령         7043 non-null   int64
 3   배우자         7043 non-null   object
 4   피부양자        7043 non-null   object
 5   가입기간        7043 non-null   int64
 6   전화서비스       7043 non-null   object
 7   2회선이상       7043 non-null   object
 8   인터넷서비스      7043 non-null   object
 9   온라인보안       7043 non-null   object
 10  온라인백업       7043 non-null   object
 11  기기보호서비스     7043 non-null   object
 12  기술지원        7043 non-null   object
 13  스트리밍TV      7043 non-null   object
 14  스트리밍Movies  7043 non-null   object
 15  약정옵션        7043 non-null   object
 16  온라인고지서      7043 non-null   object
 17  지불수단        7043 non-null   object
 18  월요금         7043 non-null   float64
 19  합산요금        7043 non-null   object
 20  이탈여부        7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [118]:
data['합산요금'] = data['합산요금'].astype(float)

ValueError: could not convert string to float: ' '

In [119]:
data['합산요금'].value_counts()

합산요금
          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: count, Length: 6531, dtype: int64

In [120]:
na_index = data[data['합산요금'] == " "].index

In [121]:
data['합산요금'] = data.apply(lambda x: x['월요금'] if x['합산요금'] == " " else x['합산요금'], axis=1)

In [122]:
data.loc[na_index]

,회원ID,성별,고연령,배우자,피부양자,가입기간,전화서비스,2회선이상,인터넷서비스,온라인보안,...,기기보호서비스,기술지원,스트리밍TV,스트리밍Movies,약정옵션,온라인고지서,지불수단,월요금,합산요금,이탈여부
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,52.55,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,20.25,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,80.85,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,25.75,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,56.05,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,19.85,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,25.35,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,20.0,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,19.7,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,73.35,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,61.9,No

In [123]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   회원ID        7043 non-null   object
 1   성별          7043 non-null   object
 2   고연령         7043 non-null   int64
 3   배우자         7043 non-null   object
 4   피부양자        7043 non-null   object
 5   가입기간        7043 non-null   int64
 6   전화서비스       7043 non-null   object
 7   2회선이상       7043 non-null   object
 8   인터넷서비스      7043 non-null   object
 9   온라인보안       7043 non-null   object
 10  온라인백업       7043 non-null   object
 11  기기보호서비스     7043 non-null   object
 12  기술지원        7043 non-null   object
 13  스트리밍TV      7043 non-null   object
 14  스트리밍Movies  7043 non-null   object
 15  약정옵션        7043 non-null   object
 16  온라인고지서      7043 non-null   object
 17  지불수단        7043 non-null   object
 18  월요금         7043 non-null   float64
 19  합산요금        7043 non-null   object
 20  이탈여부        7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [124]:
data['가입기간'].plot(kind='box')

In [125]:
data['월요금'].plot(kind='box')

In [126]:
data['합산요금'] = data['합산요금'].astype(float)

In [127]:
data['합산요금'].dtype

dtype('float64')

In [128]:
data['합산요금'].plot(kind='box')

In [129]:
cols4dummy = []
for cols in data.columns:
    if data[cols].dtype == 'O':
        print(cols,':', data[cols].unique(), data[cols].nunique())
        cols4dummy.append(cols)

회원ID : ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK'] 7043
성별 : ['Female' 'Male'] 2
배우자 : ['Yes' 'No'] 2
피부양자 : ['No' 'Yes'] 2
전화서비스 : ['No' 'Yes'] 2
2회선이상 : ['No phone service' 'No' 'Yes'] 3
인터넷서비스 : ['DSL' 'Fiber optic' 'No'] 3
온라인보안 : ['No' 'Yes' 'No internet service'] 3
온라인백업 : ['Yes' 'No' 'No internet service'] 3
기기보호서비스 : ['No' 'Yes' 'No internet service'] 3
기술지원 : ['No' 'Yes' 'No internet service'] 3
스트리밍TV : ['No' 'Yes' 'No internet service'] 3
스트리밍Movies : ['No' 'Yes' 'No internet service'] 3
약정옵션 : ['Month-to-month' 'One year' 'Two year'] 3
온라인고지서 : ['Yes' 'No'] 2
지불수단 : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)'] 4
이탈여부 : ['No' 'Yes'] 2

In [130]:
data = pd.get_dummies(data, columns=cols4dummy[1:], drop_first=True)

In [131]:
data.head(2)

,회원ID,고연령,가입기간,월요금,합산요금,성별_Male,배우자_Yes,피부양자_Yes,전화서비스_Yes,2회선이상_No phone service,...,스트리밍TV_Yes,스트리밍Movies_No internet service,스트리밍Movies_Yes,약정옵션_One year,약정옵션_Two year,온라인고지서_Yes,지불수단_Credit card (automatic),지불수단_Electronic check,지불수단_Mailed check,이탈여부_Yes
0,7590-VHVEG,0,1,29.85,29.85,False,True,False,False,True,...,False,False,False,False,False,True,False,True,False,False
1,5575-GNVDE,0,34,56.95,1889.50,True,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False

In [132]:
X = data.drop(['회원ID', '이탈여부_Yes'], axis=1 )
y = data['이탈여부_Yes']

In [133]:
X

,고연령,가입기간,월요금,합산요금,성별_Male,배우자_Yes,피부양자_Yes,전화서비스_Yes,2회선이상_No phone service,2회선이상_Yes,...,스트리밍TV_No internet service,스트리밍TV_Yes,스트리밍Movies_No internet service,스트리밍Movies_Yes,약정옵션_One year,약정옵션_Two year,온라인고지서_Yes,지불수단_Credit card (automatic),지불수단_Electronic check,지불수단_Mailed check
0,0,1,29.85,29.85,False,True,False,False,True,False,...,False,False,False,False,False,False,True,False,True,False
1,0,34,56.95,1889.50,True,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,True
2,0,2,53.85,108.15,True,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,True
3,0,45,42.30,1840.75,True,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
4,0,2,70.70,151.65,False,False,False,True,False,False,...,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,1990.50,True,True,True,True,False,True,...,False,True,False,True,True,False,True,False,False,True
7039,0,72,103.20,7362.90,False,True,True,True,False,True,...,False,True,False,True,True,False,True,True,False,False
7040,0,11,29.60,346.45,False,True,True,False,True,False,...,False,False,False,False,False,False,True,False,True,False
7041,1,4,74.40,306.60,True,True,False,True,False,True,...,False,False,False,False,False,False,True,False,False,True
7042,0,66,105.65,6844.50,True,False,False,True,False,False,...,False,True,False,True,False,True,True,False,False,False

In [134]:
from sklearn.cluster import KMeans

In [135]:
km = KMeans(n_clusters = 3)
km.fit(X)
result = km.labels_

In [136]:
data['label'] = result
data.head()

,회원ID,고연령,가입기간,월요금,합산요금,성별_Male,배우자_Yes,피부양자_Yes,전화서비스_Yes,2회선이상_No phone service,...,스트리밍Movies_No internet service,스트리밍Movies_Yes,약정옵션_One year,약정옵션_Two year,온라인고지서_Yes,지불수단_Credit card (automatic),지불수단_Electronic check,지불수단_Mailed check,이탈여부_Yes,label
0,7590-VHVEG,0,1,29.85,29.85,False,True,False,False,True,...,False,False,False,False,True,False,True,False,False,1
1,5575-GNVDE,0,34,56.95,1889.50,True,False,False,True,False,...,False,False,True,False,False,False,False,True,False,1
2,3668-QPYBK,0,2,53.85,108.15,True,False,False,True,False,...,False,False,False,False,True,False,False,True,True,1
3,7795-CFOCW,0,45,42.30,1840.75,True,False,False,False,True,...,False,False,True,False,False,False,False,False,False,1
4,9237-HQITU,0,2,70.70,151.65,False,False,False,True,False,...,False,False,False,False,True,False,True,False,True,1

In [137]:
data['이탈여부_Yes'] = data['이탈여부_Yes'].apply(lambda x: 1 if x == True else 0 )

In [138]:
from sklearn.metrics import accuracy_score

In [139]:
print(accuracy_score(data['이탈여부_Yes'], data['label']))

0.36802498935112876

In [140]:
data[data['label'] == 0].describe()

               고연령         가입기간          월요금         합산요금     이탈여부_Yes   label
count  1613.000000  1613.000000  1613.000000  1613.000000  1613.000000  1613.0
mean      0.207068    44.106634    77.689895  3272.602139     0.221947     0.0
std       0.405330    13.433636    18.104739   814.144302     0.415684     0.0
min       0.000000    19.000000    26.000000  1978.650000     0.000000     0.0
25%       0.000000    33.000000    63.700000  2548.650000     0.000000     0.0
50%       0.000000    43.000000    79.300000  3211.200000     0.000000     0.0
75%       0.000000    54.000000    93.200000  3970.400000     0.000000     0.0
max       1.000000    72.000000   116.250000  4779.450000     1.000000     0.0

In [141]:
data[data['label'] == 1].describe()

               고연령         가입기간          월요금         합산요금     이탈여부_Yes   label
count  4171.000000  4171.000000  4171.000000  4171.000000  4171.000000  4171.0
mean      0.128506    18.173100    49.752697   684.503620     0.320547     1.0
std       0.334693    19.185982    27.163148   572.228269     0.466743     0.0
min       0.000000     0.000000    18.250000    18.800000     0.000000     1.0
25%       0.000000     3.000000    20.550000   159.425000     0.000000     1.0
50%       0.000000    12.000000    48.700000   533.600000     0.000000     1.0
75%       0.000000    24.000000    74.675000  1137.925000     1.000000     1.0
max       1.000000    72.000000   112.950000  1975.850000     1.000000     1.0

In [142]:
data[data['label'] == 2].describe()

               고연령         가입기간          월요금         합산요금     이탈여부_Yes   label
count  1259.000000  1259.000000  1259.000000  1259.000000  1259.000000  1259.0
mean      0.216044    64.373312    97.922399  6292.972558     0.138205     2.0
std       0.411709     7.420728    11.865332  1003.372938     0.345252     0.0
min       0.000000    43.000000    64.750000  4783.500000     0.000000     2.0
25%       0.000000    59.000000    89.550000  5468.700000     0.000000     2.0
50%       0.000000    66.000000    99.900000  6145.850000     0.000000     2.0
75%       0.000000    71.000000   107.350000  7040.150000     0.000000     2.0
max       1.000000    72.000000   118.750000  8684.800000     1.000000     2.0

In [143]:
km.inertia_

3706139821.5669236

# k-means의 k값을 얻기 위해 엘보우 메소드 사용하기

In [144]:
distance = []
for i in range(1,21):
    km=KMeans(n_clusters = i)
    km.fit(X)
    distance.append(km.inertia_)

In [145]:
plt.figure(figsize=(20,10))
sns.lineplot(x = range(1,21), y =distance, marker='o', markersize=10, markerfacecolor='red')

# 데이터 프레임을 스케일링 후 재분석

In [146]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
X_scaled = mm.fit_transform(X)

In [147]:
km2 = KMeans(n_clusters=3)
km2.fit(X_scaled)
result2 = km2.labels_

In [148]:
accuracy_score(result, result2)

0.47934118983387763

In [149]:
distance2 = []
for i in range(1,21):
    km2=KMeans(n_clusters = i)
    km2.fit(X_scaled)
    distance2.append(km2.inertia_)

In [150]:
plt.figure(figsize=(20,10))
sns.lineplot(x = range(1,21), y =distance2, marker='o', markersize=10, markerfacecolor='red')

In [151]:
data['result2'] = result2

In [152]:
data.head(2)

,회원ID,고연령,가입기간,월요금,합산요금,성별_Male,배우자_Yes,피부양자_Yes,전화서비스_Yes,2회선이상_No phone service,...,스트리밍Movies_Yes,약정옵션_One year,약정옵션_Two year,온라인고지서_Yes,지불수단_Credit card (automatic),지불수단_Electronic check,지불수단_Mailed check,이탈여부_Yes,label,result2
0,7590-VHVEG,0,1,29.85,29.85,False,True,False,False,True,...,False,False,False,True,False,True,False,0,1,0
1,5575-GNVDE,0,34,56.95,1889.50,True,False,False,True,False,...,False,True,False,False,False,False,True,0,1,0

In [153]:
data[data['result2']==0].describe()

,고연령,가입기간,월요금,합산요금,이탈여부_Yes,label,result2
count,3044.000000,3044.000000,3044.000000,3044.000000,3044.000000,3044.000000,3044.0
mean,0.205650,16.988502,66.977053,1136.050624,0.439553,0.805191,0.0
std,0.404243,16.257161,19.730313,1134.813728,0.496414,0.416343,0.0
min,0.000000,0.000000,23.450000,23.450000,0.000000,0.000000,0.0
25%,0.000000,3.000000,50.400000,210.200000,0.000000,1.000000,0.0
50%,0.000000,12.000000,70.300000,765.050000,0.000000,1.000000,0.0
75%,0.000000,26.000000,83.362500,1760.450000,1.000000,1.000000,0.0
max,1.000000,71.000000,101.800000,5817.700000,1.000000,2.000000,0.0

In [154]:
data[data['result2']==1].describe()

,고연령,가입기간,월요금,합산요금,이탈여부_Yes,label,result2
count,1526.000000,1526.000000,1526.000000,1526.000000,1526.000000,1526.000000,1526.0
mean,0.034076,30.547182,21.079194,662.690564,0.074050,0.998689,1.0
std,0.181484,24.356507,2.164221,555.527036,0.261938,0.036191,0.0
min,0.000000,0.000000,18.250000,18.800000,0.000000,0.000000,1.0
25%,0.000000,8.000000,19.700000,157.825000,0.000000,1.000000,1.0
50%,0.000000,25.000000,20.150000,519.200000,0.000000,1.000000,1.0
75%,0.000000,52.750000,20.900000,1108.650000,0.000000,1.000000,1.0
max,1.000000,72.000000,26.900000,2006.950000,1.000000,1.000000,1.0

In [155]:
data[data['label'] == 1].describe()

,고연령,가입기간,월요금,합산요금,이탈여부_Yes,label,result2
count,4171.000000,4171.000000,4171.000000,4171.000000,4171.000000,4171.0,4171.000000
mean,0.128506,18.173100,49.752697,684.503620,0.320547,1.0,0.483337
std,0.334693,19.185982,27.163148,572.228269,0.466743,0.0,0.606439
min,0.000000,0.000000,18.250000,18.800000,0.000000,1.0,0.000000
25%,0.000000,3.000000,20.550000,159.425000,0.000000,1.0,0.000000
50%,0.000000,12.000000,48.700000,533.600000,0.000000,1.0,0.000000
75%,0.000000,24.000000,74.675000,1137.925000,1.000000,1.0,1.000000
max,1.000000,72.000000,112.950000,1975.850000,1.000000,1.0,2.000000

In [156]:
data[data['result2']==2].describe()

,고연령,가입기간,월요금,합산요금,이탈여부_Yes,label,result2
count,2473.000000,2473.000000,2473.000000,2473.000000,2473.000000,2473.000000,2473.0
mean,0.187626,52.431055,88.989729,4685.491468,0.169025,1.097452,2.0
std,0.390492,18.191588,18.053855,1961.205765,0.374850,0.944134,0.0
min,0.000000,0.000000,35.700000,52.550000,0.000000,0.000000,2.0
25%,0.000000,41.000000,75.700000,3243.450000,0.000000,0.000000,2.0
50%,0.000000,57.000000,93.350000,4759.850000,0.000000,1.000000,2.0
75%,0.000000,68.000000,104.100000,6172.000000,0.000000,2.000000,2.0
max,1.000000,72.000000,118.750000,8684.800000,1.000000,2.000000,2.0

# DBSCAN (Density Based Spatial Clustering of Applications with Noise)
* 밀도 기반 군집화의 대표적인 알고리즘
* 데이터의 분포가 기하학적으로 복잡한 데이터 세트에도 효과적인 군집화 가능

### DBSCAN의 중요한 두 가지 파라미터
* 입실론주변 영역(epsilon): 개별 데이터를 중심으로 입실론 반경을 가지는 원형의 영역
* 최소 데이터 갯수(min points): 개별 데이터의 입실론 주변 영역에 포함되는 타 데이터의 갯수

In [157]:
df = pd.read_csv("https://raw.githubusercontent.com/haram4th/ablearn/main/shopping-data.csv")

In [158]:
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [159]:
from sklearn.preprocessing import StandardScaler

In [160]:
data = df[['Annual Income (k$)', 'Spending Score (1-100)']]

In [163]:
ss = StandardScaler()
df_scaled = ss.fit_transform(data)
df_scaled = pd.DataFrame(df_scaled, columns=['Annual Income (k$)', 'Spending Score (1-100)'])
df_scaled.head()

   Annual Income (k$)  Spending Score (1-100)
0           -1.738999               -0.434801
1           -1.738999                1.195704
2           -1.700830               -1.715913
3           -1.700830                1.040418
4           -1.662660               -0.395980

In [164]:
from sklearn.cluster import DBSCAN
model = DBSCAN(eps=0.5, min_samples=5)
result = model.fit_predict(df_scaled)
df_scaled['cluster'] = result
df_scaled.head()

   Annual Income (k$)  Spending Score (1-100)  cluster
0           -1.738999               -0.434801        0
1           -1.738999                1.195704        0
2           -1.700830               -1.715913        0
3           -1.700830                1.040418        0
4           -1.662660               -0.395980        0

In [165]:
df_scaled['cluster'].unique()

array([ 0,  1, -1], dtype=int64)

In [166]:
df['cluster'] = result

In [167]:
df[df['cluster']==0].describe()

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),cluster
count,157.000000,157.000000,157.000000,157.000000,157.0
mean,82.789809,40.369427,52.490446,43.101911,0.0
std,51.492971,15.249332,21.811141,22.249225,0.0
min,1.000000,18.000000,15.000000,1.000000,0.0
25%,40.000000,26.000000,37.000000,28.000000,0.0
50%,79.000000,40.000000,54.000000,46.000000,0.0
75%,118.000000,51.000000,65.000000,55.000000,0.0
max,191.000000,70.000000,103.000000,99.000000,0.0

In [168]:
df[df['cluster']==1].describe()

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),cluster
count,35.000000,35.000000,35.000000,35.000000,35.0
mean,158.057143,32.742857,82.542857,82.800000,1.0
std,20.594035,3.890735,10.925800,9.498607,0.0
min,124.000000,27.000000,69.000000,63.000000,1.0
25%,141.000000,30.000000,74.500000,75.000000,1.0
50%,158.000000,32.000000,78.000000,86.000000,1.0
75%,175.000000,36.000000,87.500000,90.500000,1.0
max,194.000000,40.000000,113.000000,97.000000,1.0

In [169]:
df[df['cluster']==-1].describe()

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),cluster
count,8.000000,8.000000,8.000000,8.000000,8.0
mean,196.250000,35.750000,122.750000,46.875000,-1.0
std,2.815772,6.497252,11.510864,32.108911,0.0
min,192.000000,30.000000,103.000000,8.000000,-1.0
25%,194.500000,32.000000,118.250000,17.500000,-1.0
50%,196.500000,32.500000,123.000000,48.500000,-1.0
75%,198.250000,37.500000,128.750000,75.250000,-1.0
max,200.000000,47.000000,137.000000,83.000000,-1.0

In [170]:
df[df['cluster']==3].describe()

       CustomerID  Age  Annual Income (k$)  Spending Score (1-100)  cluster
count         0.0  0.0                 0.0                     0.0      0.0
mean          NaN  NaN                 NaN                     NaN      NaN
std           NaN  NaN                 NaN                     NaN      NaN
min           NaN  NaN                 NaN                     NaN      NaN
25%           NaN  NaN                 NaN                     NaN      NaN
50%           NaN  NaN                 NaN                     NaN      NaN
75%           NaN  NaN                 NaN                     NaN      NaN
max           NaN  NaN                 NaN                     NaN      NaN

In [171]:
df[df['cluster']==-1].describe()

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),cluster
count,8.000000,8.000000,8.000000,8.000000,8.0
mean,196.250000,35.750000,122.750000,46.875000,-1.0
std,2.815772,6.497252,11.510864,32.108911,0.0
min,192.000000,30.000000,103.000000,8.000000,-1.0
25%,194.500000,32.000000,118.250000,17.500000,-1.0
50%,196.500000,32.500000,123.000000,48.500000,-1.0
75%,198.250000,37.500000,128.750000,75.250000,-1.0
max,200.000000,47.000000,137.000000,83.000000,-1.0

* min_samples =12로 고정 eps 값을 바꿔보며 군집화 실행

In [172]:
f, ax = plt.subplots(2,2)
f.set_size_inches((12,12))

for i in range(4):
    eps = 0.4 * (i+1)
    min_samples = 12

    model = DBSCAN(eps=eps, min_samples=min_samples)
    model.fit(df_scaled)
    df_scaled['cluster'] = model.fit_predict(df_scaled)

    for j in range(-1, df_scaled['cluster'].max() +1):
        ax[i // 2, i % 2].scatter(df_scaled.loc[df_scaled['cluster']== j, 'Annual Income (k$)'], df_scaled.loc[df_scaled['cluster']== j, 'Spending Score (1-100)'],
                                 label = 'cluster' + str(j))
        ax[ i //2, i %2].legend()
        ax[ i //2, i %2].set_title(f'eps={eps:.1f}, min_samples{min_samples}', size=15)
        ax[ i //2, i %2].set_xlabel('Annual Income', size=12)
        ax[ i //2, i %2].set_ylabel('Spending Score', size=12)
plt.show()