## 5. 30을 8로 나눈 몫과 나머지를 각각 변수 a와 b에 저장하고 다음과 같이 출력하는 코드를 작성하세요.

실행결과
```
30을 8로 나눈 몫은 3
30을 8로 나눈 나머지는 6
30을 8로 나눈 결과는 3.75
```

In [2]:
a = 30 // 8
b = 30 % 8

print("30을 8로 나눈 몫은", a)
print("30을 8로 나눈 나머지는", b)
print("30을 8로 나눈 결과는", 30/8)

30을 8로 나눈 몫은 3
30을 8로 나눈 나머지는 6
30을 8로 나눈 결과는 3.75

# 컴퓨터와 묻고 답하기 그리고 문자열 다루기

## 7. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성한 코드를 작성하세요.
```
a = '시은 우진'
```
실행결과<br>

```
시은 우진 화이팅!!
________빈 줄_______
시은 우진 화이팅!!
```

In [4]:
a = '시은 우진'
a += " 화이팅!!"
print(a)
print()
print(a)

시은 우진 화이팅!!

시은 우진 화이팅!!

## 8. 이름과 나이를 키보드로 입력받은 값을 각각 변수 name과 age에 저장하고 다음과 같이 출력하는 코드를 작성하세요.

```
이름이 무엇인가요? 메이킷
몇 살인가요? 17
메이킷 님은 내년에는 18 살이 됩니다.
```

In [8]:
name = input("이름이 무엇인가요?")
age = int(input("몇 살인가요?"))
print(name, "님은 내년에는", age + 1, "살이 됩니다." )

이름이 무엇인가요?메이킷
몇 살인가요?17
메이킷 님은 내년에는 18 살이 됩니다.

## 9. 정수와 실수를 각각 변수 a, b에 입력받아 두 숫자의 합과 평균을 구하는 코드를 작성하세요.
실행결과
```
3
2.5
a와 b의 합은 5.5
a와 b의 평균값은 2.75
```

In [12]:
a = int(input("정수 입력:"))
b = float(input("실수 입력:"))
print("a와 b의 합은", a+b)
print("a와 b의 평균값은", (a+b)/2)

정수 입력:3
실수 입력:2.5
a와 b의 합은 5.5
a와 b의 평균값은 2.75

## 10. makit 문자열 변수를 활용해 아래와 같은 실행 결과가 나오도록 코드의 빈칸을 완성하세요.

실행결과
```
result1 = S
result2 = W
result3 = !
```

In [14]:
makeit = 'Sieun Woojin!'
print("result1 =", makeit[0])
print("result2 =", makeit[6])
print("result3 =", makeit[12])

result1 = S
result2 = W
result3 = !

## 11. makit 문자열 변수를 활용해 아래와 같은 실행 결과가 나오도록 코드의 빈칸을 완성해 보세요.
실행결과
```
eun Woo
Sieun
Woojin!
```

In [19]:
makit = 'Sieun Woojin!'
print(makit[2:9])
print(makit[:5])
print(makit[6:])
print(makeit.split()[0])
print(makeit.split()[1])

eun Woo
Sieun
Woojin!
Sieun
Woojin!

## 12. makit 문자열 변수에는 ‘동서남북동서남북동서남북’이 저장되어 있습니다. makit 문자열 변수에서 ‘동’만 출력하는 코드를 작성하세요.
실행결과
```
동동동
```

In [20]:
makit = '동서남북동서남북동서남북'
print(makit[0::4])

동동동

## 13. makit 문자열에 ‘동서남북’이라고 저장되어 있습니다. makit 문자열 변수를 뒤집어서 ‘북남서동’으로 출력하는 결과가 나오도록 코드의 빈칸을 완성하세요.
실행결과
```
북남서동
```

In [2]:
makit = '동서남북'
print(makit[::-1])

북남서동

## 14. makit 문자열에 핸드폰 번호가 다음과 같이 저장되어 있습니다. ‘.‘을 ‘-’으로 변경해 다음과 같이 실행 결과가 나오도록 코드의 빈칸을 완성한 코드를 작성하세요.
실행결과
```
010-1234-5678
```

In [5]:
phone = '010.1234.5678'
phone.replace(".", "-")

'010-1234-5678'

## 17. 초를 입력하면 ‘몇 분 몇 초’로 환산해주는 코드를 다음과 같이 출력하도록 작성하세요.
실행결과
```
초를 입력하세요:1234
1234 초(sec)는 20 분(min) 34 초(sec)입니다
```

초를 입력하세요: 1234
1234 초(sec)는 20 분(min) 34 초(sec2)입니다.

## 18. 다음과 같이 시간을 분 단위로 입력하면 며칠, 몇 시간, 몇 분으로 환산해서 출력하는 코드를 작성하세요.
실행결과
```
분을 입력하세요:7512
7512 분은 5 일 5 시간 12 분입니다
```

분을 입력하세요: 7512
7512 분은 5 일 5 시간 12 분입니다.

# 리스트(list) 다루기

## 19. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.
실행결과
```
['메이킷', '우진', '시은']
메이킷
우진
시은
```

In [8]:
L = ['메이킷', '우진', '시은']
print(L[0])
print(L[1])
print(L[2])
print()
for i in L:
    print(i)

메이킷
우진
시은

메이킷
우진
시은

## 20.다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.
실행결과
```
['메이킷', '우진']
['우진', '제임스', '시은']
['제임스', '시은']
['메이킷', '우진', '제임스', '시은']
```

In [16]:
a = ['메이킷','우진','제임스','시은']
print(a[:2])
print(a[-3:])
print(a[2:])
print(a)

['메이킷', '우진']
['우진', '제임스', '시은']
['제임스', '시은']
['메이킷', '우진', '제임스', '시은']

## 21. 리스트 추가, 삭제하기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하여 전체 코드를 입력하세요.<br>
실행결과
```
['우진', '시은', '메이킷']
['우진', '시은']
```

In [23]:
a = ['우진','시은']
a.append('메이킷')
print(a)
a.pop()
# a.remove('메이킷')
# b = a[:2]
# del a[2] 
print(a)

['우진', '시은', '메이킷']
['우진', '시은']

## 22. 리스트 원하는 위치에 삽입하기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
['우진', '하워드', '시은', '메이킷']
```

In [24]:
a = ['우진','시은','메이킷']
a.insert(1, '하워드')

In [25]:
a

['우진', '하워드', '시은', '메이킷']

## 23. 리스트 합치기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
['우진', '시은', '메이킷', '소피아', '하워드']
['메이킷', '소피아', '하워드']
```

In [28]:
a = ['우진', '시은']
b = ['메이킷', '소피아', '하워드']

In [31]:
a = a + b
# a.extend(b)
a

['우진', '시은', '메이킷', '소피아', '하워드']

In [32]:
b = a[-3:]
b

['메이킷', '소피아', '하워드']

## 24. 공백 리스트와 합치기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성한 전체 코드를 작성하세요.<br>
실행결과
```
['우진', '시은']
['우진', '시은', '메이킷', '소피아', '하워드']
```

In [33]:
a = ['우진','시은']
b = ['메이킷','소피아','하워드']
print(a)
print(a+b)

['우진', '시은']
['우진', '시은', '메이킷', '소피아', '하워드']

## 25. 리스트의 개수인 길이 구하기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
리스트 a의 개수 즉 길이는 6
리스트 a의 숫자들의 평균은 5.5
```

In [35]:
a = [3, 7, 4, 5, 6, 8]
print("리스트 a의 개수 즉 길이는", len(a))
print("리스트 a의 숫자들의 평균은", (a[0] + a[1] + a[2] + a[3] + a[4] + a[5]) / len(a))

리스트 a의 개수 즉 길이는 6
리스트 a의 숫자들의 평균은 5.5

In [42]:
sum(a) / len(a)

5.5

## 26. 리스트 잘라내기(슬라이싱)
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성한 전체 코드를 작성하세요.<br>
실행결과
```
b : [1, 2, 3, 4, 5]
c : ['a', 'b', 'c', 'd', 'e']
d : [5, 'a']
e : [1, 3, 5, 'b', 'd']
f : [2, 4, 'a', 'c', 'e']
```

슬라이싱 [시작인덱스:끝인덱스+1:step] step = 1

In [48]:
a = [1,2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']
print("b:", a[:5])
print("c:", a[5:])
print("d:", a[4:6])
print("e:", a[0::2])
print("f:", a[1::2])

b: [1, 2, 3, 4, 5]
c: ['a', 'b', 'c', 'd', 'e']
d: [5, 'a']
e: [1, 3, 5, 'b', 'd']
f: [2, 4, 'a', 'c', 'e']

## 27. 리스트 거꾸로 잘라내기
a = [‘형우’, ’윤진 ', '시은', '우진']과 같은 리스트가 있을 때 리스트 슬라이싱으로 리스트 순서가 거꾸로 바뀐 리스트를 생성해서 출력하세요. 아래 코드의 빈칸을 완성하세요.<br>
실행결과
```
['우진', '시은', '윤진', '형우']
```

In [49]:
a = ['형우', '윤진', '시은', '우진']
a[::-1]

['우진', '시은', '윤진', '형우']

## 28. 리스트 안에 리스트
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
```
메이킷 학생의 시험 점수는 95
우진 학생의 시험 점수는 100
시은 학생의 시험 점수는 98
```

In [51]:
a = [['메이킷', 95], ['우진', 100], ['시은', 98]]

In [58]:
print(a[0][0], "학생의 시험 점수는", a[0][1])
print(a[1][0], "학생의 시험 점수는", a[1][1])
print(a[2][0], "학생의 시험 점수는", a[2][1])

메이킷 학생의 시험 점수는 95
우진 학생의 시험 점수는 100
시은 학생의 시험 점수는 98

In [69]:
for item in a:
    print(item[0], "학생의 시험 점수는", item[1])

메이킷 학생의 시험 점수는 95
우진 학생의 시험 점수는 100
시은 학생의 시험 점수는 98

In [71]:
"메이킷 학생의 시험 점수는 95".split(" ")

['메이킷', '학생의', '시험', '점수는', '95']

## 29. 리스트 안에 있는 문자로 하나의 문자열 만들기(join)
a = [‘시은’, ’우진’, ’지연’, ’지훈’]과 같이 우리 반 학생들 이름이 저장된 리스트가 있습니다. 이 리스트의 문자열들을 연결(join)해 하나의 문자열을 만들려고 합니다. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
시은 우진 지훈 지연
```

In [77]:
a = ['시은', '우진', '지훈', '지연']
" ".join(a)

'시은 우진 지훈 지연'

## 30. 문자열 분리해 리스트 만들기(split)
a = '시은 우진 지훈 지연'과 같이 우리 반 학생들 이름이 저장된 문자열이 있습니다. 공백이 나올 때마다 문자열을 분리해(split) 하나의 리스트를 만들려고 합니다. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
['시은', '우진', '지훈', '지연']
```

In [80]:
a = '시은 : 우진 : 지훈 : 지연'
a.split(" : ")

['시은', '우진', '지훈', '지연']

In [83]:
name = input().split(", ")
print(name)

시은, 우진, 지훈, 지연
['시은', '우진', '지훈', '지연']

## 31. 여러 개의 값 입력받기(input + split)
세 개의 숫자를 입력받아 가장 작은 숫자를 출력하는 코드를 작성하세요.<br>
입력
```
10 2 123
```
출력
```
2
```

* 숫자입력받기
* 문자를 숫자로 변환
* if문으로 가장 작은 숫자 찾기
* 결과출력

In [94]:
num1, num2, num3 = input().split()
num1 =int(num1)
num2 =int(num2)
num3 =int(num3)
if num1 < num2 < num3:
    print(num1)
elif num1 < num3 < num2:
    print(num1)
elif num2 < num1 < num3:
    print(num2)
elif num2 < num3 < num1:
    print(num2)
elif num3 < num1 < num2:
    print(num3)
elif num3 < num2 < num1:
    print(num3)

123 10 2
2