# 1. 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 calculation 함수를 작성하라.



```
calculation(3, 4)
```



```
3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75
```

In [1]:
def calculation(a, b):
    print(f"{a} + {b} = {a + b}")
    print(f"{a} - {b} = {a - b}")
    print(f"{a} * {b} = {a * b}")
    print(f"{a} / {b} = {a / b}")

In [2]:
calculation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

# 2. 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.



```
print_reverse("Hello, World!")
```

```
!dlroW ,olleH
```

In [6]:
def print_reverse(string):
    print(string[::-1])
print_reverse("Hello, World!")

!dlroW ,olleH

# 3. 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.



```
print_even ([1, 3, 2, 10, 12, 11, 15])
```



```
2
10
12
```

In [16]:
nums = [1, 3, 2, 10, 12, 11, 15]
def print_even(nums):
    for num in nums:
        if num % 2 == 0:
            print(num)

In [14]:
print_even(nums)

[1, 3, 2, 10, 12, 11, 15]
<class 'list'>
2
10
12

# 4. 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.



```
print_keys ({"이름":"김말똥", "나이":30, "성별":0})
```



```
이름
나이
성별
```

In [19]:
names = {"이름":"김말똥", "나이":30, "성별":0}
def print_keys(names):
    for key in names:
        print(key)

In [20]:
print_keys(names)

이름
나이
성별

# 5. 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.



```
make_url("naver")
```



```
www.naver.com
```

In [22]:
url = "naver"
def make_url(url):
    print('www.'+url+'.com')

In [23]:
make_url(url)

www.naver.com

# 6. 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.



```
pickup_even([3, 4, 5, 6, 7, 8])
```



```
[4, 6, 8]
```

In [30]:
nums2 = [3, 4, 5, 6, 7, 8]
def pickup_even(nums2):
    result = []
    for num in nums2:
        if num % 2 == 0:
            result.append(num)
#     print(result)
    return result

In [31]:
pickup_even(nums2)

[4, 6, 8]

# 7. 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.



```
convert_int("1,234,567")
```



```
1234567
```

In [34]:
str_num = "1,234,567"
def convert_int(str_num):
    result = int(str_num.replace(",", ""))
    print(result, type(result))
    return result

In [35]:
convert_int(str_num)

1234567 <class 'int'>

1234567